.container {
  background-color: aqua;
}
.paper {
  padding: 16px;
  width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.section {
  display: flex;
}
.sectionOpposite {
  display: flex;
  flex-direction: row-reverse;
}
.card {
  max-width: 70%;
}
